//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	display: inline-flex;
	border-radius: 11px;
width: 100%;
 
align-items: center;
font-weight: 800;
font-family: var(--secondaryFont);
@include adaptiveValue("font-size", 32, 28);
text-transform: uppercase;
font-style: italic;
align-items: center;
justify-content: center;
box-shadow: 0 0 42px 0 rgba(252, 98, 0, 0.5), 0 0 14px 0 rgba(252, 98, 0, 0.5), 0 0 6px 0 rgba(252, 98, 0, 0.5);
background: var(--orangeColor);
transition: all 0.3s;
span{ 
	margin-left: 10px;
}
	@media (any-hover: hover) {
		&:hover {
		background:#ff7117;	
		}
	}
	&--fw {
		width: 100%;
	}
	@include adaptiveValue("padding-block", 24, 12);
	@include adaptiveValue("padding-inline", 90, 30);
}
