.her{
	&__wheel-layout {
		position: relative;
		z-index: 10;
		width: var(--wheel-size);
		height: var(--wheel-size);
		margin: 0 auto;
		border-radius: 50%;
		cursor: pointer;
	}

	&__wheel-holder,
	&__wheel-picture,
	&__spin-button,
	&__win-frame {
		position: absolute;
	}

	&__wheel-holder {
		position: absolute;
		z-index: 1;
		inset: 0;
		pointer-events: none;
	}

	&__holder-image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__wheel-picture {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 49.5%;
		width: 75%;
		height: 75%;
		translate: -50% -50%;

		animation: wheelIdle 2s ease-in-out infinite;
	}

	&__wheel-image {
		display: block;
		width: 100%;
		height: auto;
		transform-origin: 50% 50%;
		will-change: transform;
	}

	&__spin-button {
		position: absolute;
		z-index: 5;
		left: 50%;
		top: 50%;
		width: 24%;
		aspect-ratio: 1;
		translate: -50% -50%;
		border: 0;
		padding: 0;
		border-radius: 50%;
		background: transparent;
		pointer-events: none;
		animation: spinButtonIdle 2s ease-in-out infinite;
		@media (any-hover: hover) {
			&:hover {
				filter: brightness(1.15);
			}
		}
	}

	&__spin-icon {
		display: block;
		width: 100%;
		height: auto;
		pointer-events: none;
		user-select: none;
		transform-origin: 50% 50%;
		will-change: transform;
	}

	&__win-frame {
		position: absolute;
		z-index: 6;
		left: 50%;
		top: -3%;
		width: 18%;
		translate: -50% 0;
		pointer-events: none;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__wheel-layout {
		&.is-spinning,
		&.is-finished {
			.hero__wheel-picture {
				animation: none;
			}
		}

		&.is-spinning {
			pointer-events: none;
		}

		&.is-finished {
			.hero__wheel-picture,
			.hero__wheel-image {
				animation: none;
			}
		}
	}}