.header {
position: fixed;
inset-inline: 0;
	z-index: 5;
	pointer-events: none;
// @include adaptiveValue("padding-top", 15, 5);
	&__logos {
		display: flex;
		justify-content: flex-end;
		gap: 34px;
		width: 100%;
		pointer-events: auto;
		@media (width < toEm(768.98)){
			 justify-content: center; 
		}
	}

	&__brand {
		display: inline-flex;
		align-items: center;
		flex: 0 0 auto;
		width: 378px;
			@media (max-width: toEm(1440)){
				 @include adaptiveValue("width", 378, 338, 0, 1440, 992); 
			}
			@media (max-width: toEm(768.98)){
				width: 157px;
			}

		&--princess {
			width: 198px;
			@media (max-width: toEm(1440)){
				 @include adaptiveValue("width", 198, 178, 0, 1440, 992); 
			}
						@media (max-width: toEm(768.98)){
							width: 113px;
			}
		}
	}

	&__brand-image {
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
	}

}