<header data-fls-header data-fls-header-scroll class="header">
	<div class="header__container">
		<div class="header__logos" aria-label="Site logos">
			<a class="header__brand" href="https://cuatrobet.com/" aria-label="Cuatrobet">
				<img class="header__brand-image" src="@img/logo.webp" alt="Cuatrobet" />
			</a>
			<a class="header__brand header__brand--princess" href="/" aria-label="Starlight Princess">
				<img class="header__brand-image" src="@img/logo-princess.png" alt="Starlight Princess" />
			</a>
		</div>
	</div>
</header>
